<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security RBAC Test</title>
</head>
<body>

<h1>home.html</h1>

<h4>当前用户 [[${#httpServletRequest.remoteUser}]]</h4>

<p><a th:href="@{/page1}">点击跳转 page1.html</a></p>
<p><a th:href="@{/page2}">点击跳转 page2.html</a></p>
<p><a th:href="@{/page3}">点击跳转 page3.html</a></p>
<p><a th:href="@{/page4}">点击跳转 page4.html</a></p>
<p><a th:href="@{/page5}">点击跳转 page5.html</a></p>
<p><a th:href="@{/page6}">点击跳转 page6.html</a></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="登出"/>
</form>

</body>
</html>