<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Rbac0 Test</title>
</head>
<body>

<h1>login.html</h1>

<form>
    <div>
        <label> 用户名 : <input id="username" type="text"/> </label>
    </div>
    <div>
        <label> 密码: <input id="password" type="password"/> </label>
    </div>
    <div>
        <input id="rememberme" type="checkbox"><span>免登录</span>
    </div>
    <label id="errMessage" style="color: red"></label>
    <div>
        <input type="button" id="loginButton" value="登录">
    </div>
</form>

<script type="text/javascript" th:src="@{'/js/jquery-3.4.1.js'}"></script>
<script type="text/javascript" th:src="@{'/js/login.js'}"></script>

</body>
</html>